body {
    font-family: 'Playfair Display', sans-serif;  
    background-color: rgb(250, 250, 250);
}

.navbar {
    font-weight: 600;
    /* testing */
}

.judul {
    background-color: aqua;
    color: bisque;
}

#botol {
    background-color:brown;
    
    
}

.judul2 {
    background-color: blue;
}

.judul3 {
    background-color: red;
}

h3 .judul2 .judul3 {
    background-color: yellow;
}

div .cull .vanness{
    background-color: yellow;
}

.newrelease{
    display:flex;
    justify-content: center;
    align-items: center;
}
.bg-colornavbar{
    background-color: #F5F4E8;
}
.ml{
    margin-left:5px
}
.mlpt{
    margin-left: 15px;
    padding-top:7px;
}
.fontnavbar{
    color:#41352B
}


#sidenav{
 margin: 100 0 0 0;

}







/* dcz is dacodaz generalised CSS rule */
.dcz-shadow {
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.15);
}

/* 🤵🏻‍♂️Example:  to make a zoom transition on hover */
#example {
    transition: transform 0.5s;
}

#example:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
}


.usp-contents {
    display: flex;
    justify-content: space-around;

}

.usp-solo {
    display: flex;
    align-items: baseline;
    color: #CBAD8D;
    font-size: 32px;
}

.usp-3 {
    align-items: flex-start;
    
}

#no-margin {
    margin: 0px;
}

.usp-icon {
    margin: 6px;
    font-size: 32px;
}

.usp-icon, .material-symbols-outlined{
    font-size: 44px;

}

#made-from-nature {
    margin-top: 6px;
}


/* 👇🏻for mobile size */
@media (max-width: 767px) {


}





/* ❤️made with love by dacodaz 13 Nov 2023 Hackathon SIM UOL CSSC 🎓 Desmond, Alex, Vanness, Fukutaro, Cull */